/* styles.css */

* {
	font-family: Arial;
}

/*
body {
	margin-top: 50px;
  	margin-right: 250px;
  	margin-bottom: 50px;
  	margin-left: 250px;	
	background-image: url('../img/bg.jpg'); /* The path to your image file */
	background-repeat: no-repeat; /* By default, images repeat to fill the space */
	background-position: center center; /* Centers the image horizontally and vertically */
	background-size: cover; /* Ensures the image covers the entire body, maintaining its aspect ratio */
	background-attachment: fixed;
}
*/

p {
	text-align: center;
	/* background-color: LightCyan;
	color: MidnightBlue; */
	font-family: Times New Roman;
	font-size: 26px;
	text-indent: 30px;
}
