/* styles.css */

* {
	font-family: Arial;
}

body {
  padding: 40px; 
  margin: 0;
}

p {
	text-align: center;
	background-color: LightCyan; 
	color: MidnightBlue; 
	font-family: Times New Roman;
	font-size: 26px;
	text-indent: 30px;
}
